
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del>#2 Tüm başlıklarda paging</del></p>
<p>#3 Mesajlarda session</p>
<p>#4 Oturum yönetiminin mimariye taşınması</p>
<p>#5 Token kullanımı</p>

