@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <th>@category.CategoryId</th>
            <td>@category.CategoryName</td>
            <td class="text-center"><a href="/AdminCategory/DeleteCategory/@category.CategoryId" class="btn btn-danger  text-center">Sil</a></td>
            <td class="text-center"><a href="/AdminCategory/EditCategory/@category.CategoryId" class="btn btn-success">Güncelle</a></td>
            <td class="text-center"><a class="btn btn-primary">Başlıklar</a></td>
        </tr>
    }

</table>

<a href="~/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>

